#board {
    display: grid;
    width: 400px;
    height: 400px;
}

.cell {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#game-message {
    font-size: 50px;
}

#new-game-button {
    /*  */
}